body{
    margin: 0;
    padding: 0;
}

/* NAVBAR-HEADER */

#navbar{
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
}
#navbar h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    filter: drop-shadow(2px 3px 5px yellow);
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 30px;
}
#navbar img{
    height: 1cm;
    width: 1cm;
    margin-top: 0.8cm;
    margin-left: 10px;
    cursor: move ;
}
#navbar .header{
    margin-top: 1cm;
}
#navbar .header ul{
    display: inline;
    margin-left: 14.7cm;
}
#navbar .header ul button{
    background-color: wheat;
    cursor: pointer;
    border: none;
    padding: 8px;
    color: dodgerblue;
}
#navbar .header a{
    text-decoration: none;
    color: white;
    filter: drop-shadow(2px 3px 5px black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#navbar .header a:hover{
    filter: drop-shadow(2px 3px 5px yellow);
}
#navbar .header ul li{
    padding: 15px;
    display: inline;
    list-style-type: none;
    margin-top: 1cm;
}

/*MARQUEE SECTION*/

#maquee {
    background-color: yellow;
    margin-top: 10px;
    font-family: cursive;
    font-size: 25px;
}

/* Products */

#Products #pro {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Products #pro #pro1{
    padding: 15px;
    cursor: pointer;
    margin-top: 10px;
}
#Products #pro #pro1 img{
    display: inline;
}
#Products #pro #pro1 fieldset{
    display: inline;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgrey;
    padding: 5px;
}
#Products #pro #pro1 span{
    display: flex;
}

/* Products Page */

#h1pro #producth1{
    background-color: black;
    color: white;
    display: inline-flex;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    justify-content: center;
    margin-left: 40%;
    border: 5px solid greenyellow;
    border-radius: 10px;
}

/*Pro.html */
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sec {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#sec #prod #img1 {
    display: inline;
    margin-left: 3cm;
    margin-top: 3cm;
    height: 10.5cm;
    border: solid 1px lightgray;
}
#sec #prod #each{
    display: inline;
    position: absolute;
    margin-top: 4cm;
    margin-left: 3cm;
    font-size: 37px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#sec #prod #each span {
    color: red;
}
#sec #prod input {
    position: absolute;
    margin-left: 3.5cm;
    margin-top: 6cm;
    height: 1cm;
    width: 3cm;
    
}

#sec #prod button{
    position: absolute;
    margin-left: 3.5cm;
    margin-top: 8cm;
    padding: 10px;
    background-color: green;
    color: white;
    border: 0.5px solid grey;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sec #prod button:hover {
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    transition: 1s;
}
#sec #prod #det {
    position: absolute;
    margin-left: 17cm;
    margin-top: -4cm;
}
#sec #prod #det span{
    color: red;
}
#Products{
    margin-top: 1cm;
}
#btwn h1 {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 4cm;
}
#navbar{
    z-index: 999;
    position: sticky;
    top: 0;
}
#sec fieldset {
    display: inline;
}



